nav{
  /* margin-top: .1rem !important; */
  background-color:  rgb(32, 32, 80) !important;
  color: white;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  min-height: 700px;
  width: 18% !important;
  min-width: 150px;
  font-weight: normal !important;
}




.container-fluid ul{
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  padding-left: 0%;
  margin: 0%;
}

ul li{
  list-style: none;
  padding: 1rem;
  margin: 0%;
  transition:all 1s;
  display: block !important;

}

li:hover{

  cursor: pointer;
  background-color: white;
  color: black;
  font-style: italic;
  letter-spacing: 0.1cm;
  font-weight: bolder;
}

