nav{
  margin-top: .1rem !important;
  background-color: rgb(32, 32, 80) !important;
  color: white;
  font-size: large;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  float: right;
  width: 100% !important;
  min-width: 400px !important;

}



@media screen and (max-width:850px){
  .navbar{
    width: 100% !important;

  }

  .sidebar{
    display: none;
    visibility: hidden !important;
  }
}

.container-fluid ul{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0%;
  float: left;
}

ul li{
  list-style: none;
  float: left;
  padding: 10px;
  display: block !important;
  transition:all 0.5s;
}

li:hover{
  cursor: pointer;
  color: blue;
}

.logoutdiv{
  margin: auto;
  display: block !important;
  /* display: flexbox; */
  /* justify-content: center; */
  /* align-items: center; */
  float: right;
  margin-top: .3rem;
  margin-right: 1rem;
}

.logoutdiv img
{
  width: 30px;
  height: 30px;
  padding: .5rem;
  transition:all 0.5s;

}

.logoutdiv img:hover{
  cursor: pointer;
  transform: scale(1.3);

}

.notification,.profile{
  display: inline-block;
  position: relative;
  margin: 0%;
  padding: 0%;
  transition: all 1s;
}

.notification span{
  border-radius: 10px;
  background-color: white;
  font-size: small;
  position: absolute;
  left: 60%;
  top: -2%;
  color: black;
  padding-inline: 5px;
}

.profile:hover{
  transform: scale(1.3);
}
.profile span{
  position: absolute;
  top: -20% ;
  left: 35%;
}
