<nav class="navbar" style="width: 82%; margin: auto">
  <div class="container-fluid">
    <ul>
      <li routerLink="/home">Dashboard</li>
      <!-- <li routerLink="/profile">Profile</li>
      <li routerLink="/profile/change">Reset Password</li> -->
    </ul>

    <div class="logoutdiv" >
      <img src="../../assets/images/settings.png" alt="" srcset="" />
      <div class="notification">
        <img src="../../assets/images/notification.png" alt="" srcset="" />
        <span>10</span>
      </div>
      <div class="profile">
        <img src="../../assets/images/user.png" alt="" srcset="" />
        <span>
          <img src="../../assets/images/down-arrow.png" alt="" />
        </span>
      </div>
      <img src="../../assets/images/logout.png" alt="" srcset="" />
    </div>
  </div>
</nav>

<app-sidebar class="sidebar"></app-sidebar>

<router-outlet></router-outlet>

