nav{
  margin-top: .1rem !important;
  background-color: rgb(32, 32, 80) !important;
  color: white;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  width: 100% !important;
  min-width: 400px !important;

}



@media screen and (max-width:850px){
  .navbar{
    width: 100% !important;

  }

  .sidebar{
    display: none;
    visibility: hidden !important;
  }
}

.container-fluid ul{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0%;
  float: left;
}

ul li{
  list-style: none;
  float: left;
  padding: 10px;
  display: block !important;
  /* padding-inline: .5rem; */
  /* margin: 0% auto; */
  transition:all 0.5s;
}

li:hover{
  cursor: pointer;
  color: blue;

}


.logoutdiv{
  text-transform: uppercase;
  transition:all 0.5s;
  float: right;
  margin-right: 1rem;
  padding:.5rem auto;
}

.logoutdiv:hover{
  cursor: pointer;
  color: blue;

}
