<app-teacher-layout></app-teacher-layout>


<div class="container">
  <div class="container-image">
    <div class="text-box">
      <h3>TEACHERS</h3>
    </div>
  </div>
  <div class="box-container">
    <div class="box box-1">
      <div class="circle top-circle-1">
        <img src="../../assets/images/hard-drive.png" alt="" srcset="">
      </div>
      <h3>Courses</h3>
      <span>50</span>
    </div>
    <div class="box box-2">
      <div class="circle top-circle-2">
        <img src="../../assets/images/student.png" alt="" srcset="">

      </div>
      <h3>STUDENTS</h3>
      <span>150</span>
    </div>
    <div class="box box-3">
      <div class="circle top-circle-3">
        <img src="../../assets/images/siblings.png" alt="" srcset="">

      </div>
      <h3>Classes</h3>
      <span>30</span>
    </div>
    <div class="box box-4">
      <div class="circle top-circle-4">
        <img src="../../assets/images/notification-w.png" alt="" srcset="">

      </div>
      <h3>Fees</h3>
      <span>20</span>
    </div>
  </div>


</div>
