<app-layout></app-layout>

<div class="container">
  <div class="heading">
    <h1>{{ name }}</h1>
  </div>
  <div
    class="box-container"
    *ngIf="
      name === 'students'
    "
  >
    <div class="box box-1"   *ngFor="let student of students" [routerLink]="['/home','students','details',student.id]">
      <img
        src="../../../assets/images/more-menu.png"
        class="more-menu"
        alt=""
      />
      <img
        *ngIf="!student.image"
        src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
        alt=""
        class="profile-image"
      />
      <img
      *ngIf="student.image"
      [src]="student.image"
      alt=""
      class="profile-image"
    />
      <h3 class="person-name">{{student.name}}</h3>
      <div class="icons">
        <img
          src="../../../assets/images/call.png"
          class="cell"
          alt=""
          srcset=""
        />
        <img
          src="../../../assets/images/email.png"
          class="message"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>

  <!-- <div
    class="box-container"
    *ngIf="
      name === 'teachers'
    "
  >
    <div class="box box-1"   *ngFor="let teacher of teachers">
      <img
        src="../../../assets/images/more-menu.png"
        class="more-menu"
        alt=""
      />
      <img
        *ngIf="!student.image"
        src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
        alt=""
        class="profile-image"
      />
      <img
      *ngIf="student.image"
      [src]="student.image"
      alt=""
      class="profile-image"
    />
      <h3 class="person-name">{{student.name}}</h3>
      <div class="icons">
        <img
          src="../../../assets/images/call.png"
          class="cell"
          alt=""
          srcset=""
        />
        <img
          src="../../../assets/images/email.png"
          class="message"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div> -->

  <div
    class="box-container"
    *ngIf="
      name === 'exams' ||
      name === 'fees' ||
      name === 'events' ||
      name === 'courses'
    "
  >
    <div class="table physical-students">
      <h3>Physical Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>ID</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Fees</th>
          <th>Class</th>
          <th>place</th>
          <th>Date</th>
          <th>Action</th>
        </tr>

        <tr>
          <td>1</td>
          <td>11312</td>
          <td>Exam1</td>
          <td class="img">
            <img
              src="../../../assets/images/people/aiony-haust-3TLl_97HNJo-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg"
              alt=""
              srcset=""
            />
          </td>
          <td>123</td>
          <td>200</td>
          <td>A/L</td>
          <td>Main Hall</td>
          <td>2022-12-12</td>
          <td class="btns">
            <button>Proceed</button><button>Cancel</button>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td class="img">
            <img
              src="../../../assets/images/people/aiony-haust-3TLl_97HNJo-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg"
              alt=""
              srcset=""
            />
          </td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td class="img">
            <img
              src="../../../assets/images/people/aiony-haust-3TLl_97HNJo-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg"
              alt=""
              srcset=""
            />
          </td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td class="img">
            <img
              src="../../../assets/images/people/aiony-haust-3TLl_97HNJo-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg"
              alt=""
              srcset=""
            />
          </td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td class="img">
            <img
              src="../../../assets/images/people/aiony-haust-3TLl_97HNJo-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/albert-dera-ILip77SbmOE-unsplash.jpg"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/people/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg"
              alt=""
              srcset=""
            />
          </td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table bio-students">
      <h3>Biological Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table commerce-students">
      <h3>Commence Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table technology-students">
      <h3>Technology Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table arts-students">
      <h3>Arts Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table ordinary-students">
      <h3>Ordinary Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table grade10-students">
      <h3>Grade 10 Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
    <div class="table other-students">
      <h3>Other Students</h3>
      <table>
        <tr class="head">
          <th>No</th>
          <th>Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Exam1</td>
          <td>Teacher 1</td>
          <td>Students 1</td>
          <td>2022-12-12</td>
        </tr>
      </table>
    </div>
  </div>
</div>
