*{
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
}

.container{
  background-color:aqua;
  width: 84% !important;
  min-width: 70%;
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading h1
{
  display: flex;
  justify-content: flex-start;

  font-size: 30px;
  margin: 1rem;
  /* padding: 20px; */
  color: rgba(0, 0, 0, 0.625);
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.box-container .box{
  margin-bottom: 1.5rem;
}

.box-container .box{
  width: 23%;
  min-width: 250px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:25px;
  transition: all .5s;
  background-color: white;
  border-radius: 5px;
  border: none;
  position: relative;
}

.box-container .box:not(.more-menu){
  cursor: pointer;
}

.box:hover{
  box-shadow: 0 1px 10px black;
}

.box .more-menu{
  height: 10%;
  position: absolute;
  top: 0;
  left: 85%;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: .5rem;
}

.box .profile-image{
  height: 50%;
 /* margin-top: -4rem; */
 margin-bottom: 1rem;
 padding: 0%;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.box:hover .profile-image{
  transform: scale(1.2);
}
.person-name{
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  font-family: sans-serif;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.icons img{
  width: 12%;
  transition: all 1s;
}

.icons .cell:hover{
  animation: shake .1s infinite;
}
.icons .message:hover{
  transform: scale(2);
}


@keyframes shake {
  0%{
    transform: rotate(0deg);
  }
  25%{transform: rotate(20deg);}
  50%{  transform: rotate(0deg);}
  75%{  transform: rotate(-20deg);}
  100%{  transform: rotate(0deg);}

}

.box-container .table{
  width: 100%;
  height: 100%;
  background-color: white;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  /* border-radius: 5px ; */
  box-shadow: 0 .5rem 1rem rgb(152, 135, 135);
}

.box-container .table h3{
  font-size: 20px;
 margin-top: 1rem;
 margin-bottom: 1rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}
.box-container .table table{
  width: 100%;
}
.box-container .table .head{
  width: 100%;
  background-color: rgb(8, 8, 74);
  color: white;
}

.head th{
  font-size: 20px;
  font-weight: bold;
  padding: .5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table tr,
table th,
table td{
  margin: 0%;
  padding: .5rem;
  text-align: center;
}

table tr{
  transition: all .2s;

}

table tr:not((:first-child)){
  font-family: monospace;

}
table tr:not(:first-child):hover{
  background-color: rgba(20, 13, 118, 0.667);
  color: white;
}

table .img{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
table img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: all .5s;
  margin-right: 0.2rem;
}
table img:hover{
  transform: scale(1.5);
  cursor: pointer;
}



table .btns button{
  width: 40%;
  margin-right: 0.5rem;
  padding: .5rem;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(44, 139, 0);
  color: white;
  border-radius: 5px;
  border: none;
}
